body {
    background-color: #141414 !important;
}

.my-header {
    height: 50px;
    background-color: #0f0f0f;
}

.header-title {
    text-shadow: 2px 2px 10px #808080f7;
}

.search-bar {
    height: 20px;
}

.both-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.image-box {
    position: relative;
    margin-bottom: 30px
}

.image-box:hover .both-card {
    display: block;
    opacity: 0.9;
}

.my-image {
    width: 100%;
    height: 100%;
}

.figure-image {
    width: 100%;
    height: 100%;
}